<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signin</title>
    <link rel="stylesheet" href="./public/signin.css">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form action="/signin" method="POST" id="signin">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <% if (messages.error) { %>
            <div class="errormessage">
                <strong><%= messages.error %></strong>
            </div>
        <% } %>
        <br>
        <input type="submit" value="Signin">
        <br>
        <p for="signupmassege" style="color:rgb(0, 0, 0); font-size: 12px; text-align:center">Don't have an account?
        <a href="/signup" value="Signup" style=" text-align:center">Sign Up</a>
        </p>
        </form>
    </div>
    <!-- <script>
        // Register form submission
        document.getElementById('signin').addEventListener('submit', async (e) => {
            e.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            console.log(email,password)
            const response = fetch("http://localhost:5500/signin", {
                method:"POST",
                body:JSON.stringify({
                    email: email,
                    password: password,
                }),
                headers:{
                    "content-type":"application/json; charset=UTF-8",
                },
            });
        });
        </script> -->
</body>
</html>